# Core/important modules
MODULES = account admin chanjoin chanreg chanrequest commands help help_default info
MODULES += irc locale parser perform srvx tools
# Common modules
MODULES += autoop bitly chandict chanfw chanlog chanserv_access chanserv_eventlog
MODULES += chanserv_users chanspy ctcp db github google greeting http httpd ipv6
MODULES += misc paste php quote serverstats sharedmem spelling timers tinyurl topic
MODULES += urbandict webinterface youtube
MODULES += pushmode massmode
# Less common modules:
#MODULES += scripting
#MODULES += klostervote
#MODULES += maxfrag
#MODULES += cap pgsql radiobot radiobotremote radionotify radioplaylist radioschedule radioapi
#MODULES += galaxyempire_admin galaxyempire_coords
#MODULES += inactive
# Unfinished modules:
#MODULES += trivia

# vim: ft=make
