// SurgeBot config file

"uplink" = {
	"host" = "irc.gamesurge.net";
	//"port" = "6667";
	//"pass" = "";
	//"ssl" = "0";
	//"ipv6" = "0";
	//"local_host" = "";
	"max_tries" = "3";
};

"bot" = {
	"nick" = "SurgeBot`BadlyConfigured";
	"username" = "SurgeBot";
	"realname" = "Badly configured SurgeBot";

	//"trigger" = "*";
};

"core" = {
	"module_path" = "./modules";
	"modules" = ();
};

"commands" = {
	// Stealth mode prevents the command module from sending any replies to users that are not authenticated.
	// Additionally, the auth command will not reply unless you authenticated successful.
	// However, you must change the rule of the register command to prevent people from registering accounts and
	// you should change the rule of all other command that do not require the user to be authed.
	"stealth" = "0";
};

"perform" = {
	"file" = "perform.cfg";
};

"chanjoin" = {
	"max_tries" = "3";
	"rejoin_delay" = "5";
	"unban_command" = "CHANSERV UNBANME %s";
	"invite_command" = "CHANSERV INVITEME %s";
	"part_reason" = "My work here is done.";
};

"chanspy" = {
	// To enable remote logging, change host/port if required and set a password.
	"listen_host" = "127.0.0.1";
	"listen_port" = "1234";
	"password" = "";
};

"chanreg" = {
	"default_modules" = ();
	// Rule that allows to use staff features of regular commands (e.g. modifying your own access)
	"staff_rule" = "group(admins)";
};

"chanlog" = {
	"directory" = "logs";
};

"ctcp" = {
	"version" = "This is a SurgeBot. What are you?";
};

"google" = {
	"url" = "www.google.com/search?q=%s";
	"results" = "2";
};

// vim: ft=cfg
