// SurgeBot config file

"uplink" = {
	"host" = "irc.gamesurge.net";
	//"port" = "6667";
	//"pass" = "";
	//"ssl" = "0";
	//"ipv6" = "0";
	//"local_host" = "";
	"max_tries" = "3";
};

"bot" = {
	"nick" = "SurgeBot`BadlyConfigured";
	"username" = "SurgeBot";
	"realname" = "Badly configured SurgeBot";

	//"trigger" = "*";
};

"core" = {
	"module_path" = "./modules";
	"modules" = ();
};
